<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>
  <body>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Row ID</th>
                <th scope="col">Album Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Genre</th>
                <th scope="col">Year</th>
                <th scope="col">Rating</th>
                <th scope="col">Condition</th>
                <th scope="col">Price</th>
                <th scope="col">Update/Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#records}}
            <tr>
                <td>{{rowid}}</td>
                <td>{{album_name}}</td>
                <td>{{artist}}</td>
                <td>{{genre}}</td>
                <td>{{year}}</td>
                <td>{{rating}}</td>
                <td>{{condition}}</td>
                <td>{{price}}</td>
                <td>
                    <form method="post">
                        <button class="btn btn-primary" >Update Record</button>
                        <button id={{rowid}} class="btn btn-danger" formaction="/deleterecord/{{rowid}}">Delete</button>
                    </form>
                </td>
            </tr>
            {{/records}}
        </tbody>
    </table>
  </body>
</html>
